<div class="container">
  <div class="card " style="width: 18rem;">
    <img src="<%= @movie.poster %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= @movie.title %></h5>
      <p class="card-text"><%= @movie.plot %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Title: <%= @movie.title %></li>
      <li class="list-group-item">Year: <%= @movie.year %></li>
      <li class="list-group-item">Runtime: <%= @movie.runtime %></li>
      <li class="list-group-item">Director: <%= @movie.director%></li>
    </ul>
    <div class="card-body">
      <a <%= link_to "Back", :back, class: "card-link" %> </a>
<!--      <a href="#" class="card-link">Another link</a>-->
    </div>
  </div>
</div>

