<body>

<main class="container py-5">
  <h1>Metricas de busquedas en OmdbApp</h1>

  <hr class="my-5">

  <div class="row" data-masonry='{"percentPosition": true }'>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <img src="<%= @latest.poster %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= @latest.title %> / <%= @latest.year %></h5>
          <p class="card-text">La pelicula mas antigua de las buscadas por los usuarios</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card p-3">
        <figure class="p-3 mb-0">
          <blockquote class="blockquote">
            <p>A La pelicula de mayor duracion buscada por lo usuarios es:</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-muted">
            <%= @runtime_max.title %> <cite title="Source Title">, <%= @runtime_max.runtime %></cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <img src="<%= @rating.poster %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= @rating.title %></h5>
          <p class="card-text">La pelicula con mejor rating segun Imdb que los usuarios buscaron:
            rating <%= @rating.imdb_rating %></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-primary text-white text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>¿Cual es el numero de peliculas buscadas por los usuarios hasta la fecha?</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-white">
            Son un total de: <cite title="Source Title"><%= @count %>"</cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">¿Cual es el promedio de duracion de peliculas buscadas?</h5>
          <p class="card-text">El promedio de duracion de las peliculas buscadas es:  <%= @year_runtime %> minutos </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <img src="<%= @recent.poster %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= @recent.title %> / <%= @recent.year %></h5>
          <p class="card-text">La pelicula mas reciente de las buscadas por los usuarios</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card p-3 text-end">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>¿De que año son las peliculas buscadas?</p>
          </blockquote>
          <ul class="list-group list-group-flush">
            <% @by_year.each do |y| %>
              <li class="list-group-item"><%= y[0] %>: <%= y[1].count %></li>
            <% end %>
          </ul>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">¿Cual es el promedio de años en las busquedas?</h5>
          <p class="card-text">El año promedio en las busquedas de los usarios es: <%= @year_average %></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

</main>


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<script async src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>
</body>